* {
	font-size: 0.93em;
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
	padding: 0;
}

#CL-container {
	padding-top: 15px;
	padding-bottom: 15px;
}

#CL-logo{
	background-color: yellow;
	padding: 0.25rem 0.7rem 0.1rem 0.7rem;
	margin: 0;
	font-weight: 900;
}

#navbarTogglerDemo03 {

}

menu {
	font-size: 1rem;
	font-weight: 900;
	text-transform: uppercase;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}
menu li {
	display: block;
	list-style: none;
}
menu li.current a {
	color: black;
}
menu li > a {
	color: white;
	display: block;
	line-height: 2.5em;
	text-decoration: none;
	transition: color 300ms;
	padding-left: 0 !important; 
	padding-right: 2rem !important;
	margin: 0;
}
menu a:hover {
	color: black;
}
menu span {
	background-color: black;
	display: block;
	height: 6px;
	left: 0;
	position: absolute;
	top: 80%;
	transition: left 300ms, width 300ms;
}

#CL-capa1 {
	font-weight: 900;
}

#CL-capa2 {

}