* {
	font-size: 0.93em;
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
	padding: 0;
}

.container {
  position: relative;
  overflow: auto;
  /*background-color: rgba(0, 0, 0, 0.05);*/
}

.container .content {

}

#CL-container {
	height: calc(100vh - 1.5rem);
}

#CL-logo{
	background-color: yellow;
	padding: 0.25rem 0.7rem 0.1rem 0.7rem;
	margin: 0;
	font-weight: 900;
}

}
.navbar-light .navbar-nav .active > .nav-link {
	color: blueviolet !important;
}

.fas {
	color: blueviolet;
}

menu {
	font-size: 1rem;
	font-weight: 900;
	text-transform: uppercase;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}
menu li {
	display: block;
	list-style: none;


menu li > a {
	color: white;
	display: block;
	line-height: 2.5em;
	text-decoration: none;
	transition: color 300ms;
	padding-left: 0 !important; 
	padding-right: 2rem !important;
	margin: 0;
}

#CL-capa1 {
	font-weight: 900;
}

#CL-capa2 {

}